*{
    margin:0;
    padding:0;
}

.wrapper{
    width: 200px;
    height: 100px;
    box-shadow: 0 0 2px 2px black;
    text-align: center;
    margin: 20px auto 0;
}

.container{
    display: flex;
    box-shadow: 0 0 1px 1px black;
    margin-top: 10px;
}


.input{}

.input.green{
    border:1px solid green;
}

.input.red{
    border:1px solid red;
}